body {
    display: flex;
    flex-direction: column;
}

#image {
    background-image: url(../img/goose.jpg);
    background-size: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(2.89/2 * 100vw);
    color: white;
    padding: 0;
}
h1 {
    padding: 0;
}

#logo {
    background-image: url(../img/goosi-removebg-preview.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 80px;
    background-color: white;
    border-radius: 100%;
}

#headline {
    background-color: rgba(0,0,0,0.2);
    margin-top: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
    gap: 5px;
}

p {
    text-align: center;
    margin-bottom: 4px;
}
#image a {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    margin-bottom: 20px;
    padding-bottom: 20px;
    gap: 8px;
    box-shadow: grey 0 2px 4px;
}

.formElement {
    display: flex;
    flex-direction: column;
}
.formRow {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

#formContainer {
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8
}

form p {
    font-weight: 800;
    margin-bottom: 15px;
}

.formElement label {
    font-family: "Roboto Mono";
    font-size: 0.7rem;
    text-transform: uppercase;
	color: rgb(80,80,80);
    margin-bottom: 2px;
}

#formContainer > div, form {
    padding-left: 20px;
}
#noRealService p {
    font-weight: 800;
    text-align: left;
}
#noRealService {
    margin-bottom: 30px;
}

button {
    border: 2px solid orange;
    border-radius: 5px;
    background-color: white;
    width: 8rem;
    height: 1.8rem;
    box-shadow: grey 0 0 4px;
}

#lowerBracket p {
    text-align: left;
    margin-bottom: 20px;
}