body {
    display: flex;
    flex-direction: column;
}

#image {
    background-image: url(../img/goose.jpg);
    background-size: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(3/2 * 100vw);
    color: white;
    padding: 0;
}
h1 {
    padding: 0;
}

#logo {
    background-image: url(../img/goosi-removebg-preview.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 80px;
    background-color: white;
    border-radius: 100%;
}

#headline {
    background-color: rgba(0,0,0,0.2);
    margin-top: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
    gap: 5px;
}

p {
    text-align: center;
    margin-bottom: 4px;
}
a {
    color: white;
}

